@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Registro de Piloto</h1>
    <a asp-controller="piloto" asp-action="cadastrar">Cadastro de Piloto</a>
</div>