@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Projeto de estudo para a aula do professor Marcel Wagner, feito pelos alunos:
    <br></br>
    Abner Rodrigues Ferreira - RM: 93576
    <br></br>
    Davi Oliveira Da Silva - RM: 95535
    <br></br>
    Emerson Nascimento Figueredo Silva - RM:95199
    <br></br>
    Guilherme De Jesus Ferreira - RM: 95542
    <br></br>
    João Victor Oliveira Da Silva - RM: 94231
</p>
